@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    color-scheme: dark;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Fix for Google Maps tile lines caused by Tailwind reset */
.gm-style img {
    max-width: none;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
}